footer {
    max-width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;

    padding: 1.5rem;
}

footer a {
    color: var(--color);
}

.footer-link-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

footer svg {
    max-width: 2rem;
    max-height: 2rem;
    width: 2rem;
    height: 2rem;
}
