#aboutme {
    margin: 2rem 10vw;
    display: flex;
    flex-direction: column;
}

#aboutme section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 2em;
    column-gap: 4em;
    justify-content: center;
}

#aboutme section .description {
    width: 50%;
    text-align: justify;
    line-height: 1.75em;
    font-size: 1.1em;
}

.description p {
    margin: 0;
}

#aboutme section svg {
    height: 10em;
    width: auto;
    max-width: min(20em, 60vw);
}

.separator {
    background-color: rgb(88, 88, 88);

    height: 2px;
    width: 60vw;

    align-self: center;
}

@media (max-width: 1000px) {
    #aboutme section .description {
        width: auto;
    }

    #aboutme .separator {
        width: 90vw;
    }
}
