:root {
    --background-color: white;
    --color: black;

    font-family: "DejaVu Sans";
}

:root .dark-theme {
    --background-color: #2f2836ff;
    --color: #d9d9d9;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    margin: 0;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#__next > :nth-child(2) {
    flex-grow: 10;
}

a {
    color: rgb(0, 0, 182);
    text-decoration: none;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.checkbox-dropdown {
    border: 1px solid #aaa;
    position: relative;

    user-select: none;
    min-width: fit-content;

    padding: 0.75em;
}

.checkbox-dropdown-list {
    list-style: none;

    box-sizing: border-box;
    margin: 0;
    padding: 0.4rem;

    border: inherit;
    border-top: none;

    position: absolute;

    top: 100%;
    left: 0.2rem;

    opacity: 0;
    transition: opacity 0.4s ease-in-out;

    overflow-y: scroll;
    pointer-events: none;

    background-color: var(--background-color);
    z-index: 10;
}

.is-active {
    opacity: 1;
    pointer-events: auto;
}

.checkbox-dropdown-list li label {
    padding: 3px 10px 3px 10px;
    white-space: nowrap;
    transition: all 0.2s ease-out;

    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.checkbox-dropdown:after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}

.checkbox-dropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: #fff;
    margin-top: -9px;
}

.checkbox-dropdown-list li label:hover {
    background-color: rgb(51 65 85);
    color: white;
}
