#home {
    text-align: center;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 2em;
    gap: 2em;
}

#ferris {
    width: 30em;
}

#home h1 {
    font-size: 3em;
}
#home h2 {
    font-size: 2em;
}
