#home {
    text-align: center;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 2em 0;
}

#ferris {
    width: 30em;
    max-width: 100%;
    height: auto;
}

#home h1 {
    font-size: 3em;
}
#home h2 {
    font-size: 2em;
}
