#navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    background-color: var(--navbar-background-color);

    padding: 1.25rem 1.25rem 1.25rem 2rem;

    white-space: nowrap;
}

@media (max-width: 800px) {
    #navbar {
        justify-content: center;
    }
}

.navbar-item {
    margin-left: 1rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;

    user-select: none;

    border-radius: 0.375rem;

    font-size: 0.875rem;
    line-height: 1.25rem;

    color: var(--navbar-color);
}

.navbar-item p {
    margin: 0;
}

.navbar-item:hover {
    background-color: #00000020;
}

.current-navbar-item {
    background-color: #00000038;
}

#theme-button {
    margin-left: 1rem;
    width: 2.5rem;
    height: auto;
    transition-duration: 0.5s;
}

#theme-button.light {
    transform: rotate3d(0, 0, 1, 180deg);
    fill: white;
}

#theme-button.dark {
    fill: black;
}
