.navbar {
    background-image: linear-gradient(to bottom left, #ef4000ff, #af2f00ff);

    width: 5%;
    height: 100%;
    
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;

    padding: 1.5%;
}

.navbar a {
    color: black;
    font-size: large;
    text-decoration: none;
    
    padding-top: 15%;
    padding-bottom: 15%;

}

.navbar a:hover {
    animation-name: beige;
    animation-duration: 0.25s;
    color: beige;
}

@keyframes beige {
    from {
        color: black;
    }
    to {
        color: beige;
    }
}