#projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5rem 0;
    margin: 0 5vw 0 5vw;
    gap: 1rem;
}

#projects table {
    border-collapse: collapse;
    border-spacing: 0;
}

#projects table,
#projects td {
    border: 1px solid var(--border);
}

.project-table-container {
    max-width: 100%;
    width: unset;
    overflow-x: auto;
}

#projects th,
#projects td {
    padding: 0.2em 1.5em;
    text-align: center;
    white-space: nowrap;
}

#projects th {
    padding: 0.2em 1.5em;
}

#projects tr {
    font-weight: normal;
    min-width: fit-content;
}

#project-md {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-md > * {
    width: 60%;
}

#project-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    padding: 0.5%;
    gap: 0.4rem;

    width: 60%;
}

#project-filters > div {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 12rem;
    min-width: 10rem;
}

#project-filters > div > * {
    width: 100%;
}

#project-filters * {
    height: fit-content;
}

#project-filters * * {
    height: auto;
}
