#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

#projects table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: scroll;
}

#projects table,
#projects td {
    border: 1px solid white;
    min-width: fit-content;
}

#projects th,
#projects td {
    min-width: fit-content;
    padding: 5px 7px 5px 7px;
    text-align: center;
}

#projects tr {
    font-weight: normal;
    min-width: fit-content;
}

#project-md {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-md > * {
    width: 60%;
}

#project-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: flex-start;

    padding: 0.5%;
    gap: 1%;

    width: 60%;
}

#project-filters > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}

#project-filters > div > * {
    width: 100%;
}

#project-filters * {
    height: fit-content;
}

#project-filters * * {
    height: auto;
}
